<div class='votes'> <%= pluralize(post.votes, 'vote') %></div>
<div class='upvote <%= 'selected' if @vote and @vote.upvote  %>'>
	<%= link_to 'Upvote', upvote_post_path(post), { remote: true, onclick: "change_vote(#{post.id.to_s},'upvote')" } %>
</div>

<div class='sidevote <%= 'selected' if @vote.nil?  %>'>
	<%= link_to 'Sidevote', sidevote_post_path(post), { remote: true, onclick: "change_vote(#{post.id.to_s},'sidevote')" }  %>
</div>
<div class='downvote <%= 'selected' if @vote and @vote.upvote == false %>'>
	<%= link_to 'Downvote', downvote_post_path(post), { remote: true, onclick: "change_vote(#{post.id.to_s},'downvote')" }  %>
</div>