<h1>Posts Index</h1>

<% if current_user %>
	Logged in as <%= current_user.email %>.
	<%= link_to 'Sign out', destroy_user_session_path, {method: :delete} %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<p>This is where the posts go.</p>

<% @posts.each do |post| %>

	<% if current_user
		@vote = current_user.votes.find_by({item_id: post.id, item_type: 'post'})
		#if !@vote
			#@vote = Vote.new
		#end
	end %>

	<%= post.votes %>

	<% if @vote and @vote.upvote %><b><% end %>
		<% # link_to 'Upvote', upvote_post_path(post), {type: :post} %>
		<%= link_to 'Upvote', { controller: 'votes', action: :upvote, post_id: post.id, type: :post }, { onclick: '//alert("hello")' } %>
	<% if @vote and @vote.upvote %></b><% end %>

	<%= link_to 'Sidevote', sidevote_post_path(post) %>

	<% if @vote and @vote.upvote == false%><b><% end %>
		<%= link_to 'Downvote', downvote_post_path(post) %>
	<% if @vote and @vote.upvote == false %></b><% end %>
	
	|
	
	<% if current_user && post.user_id == current_user.id %>
		<b>
	<% end %>
	<%= link_to post.title, post_path(post) %>
	<% if current_user && post.user_id == current_user.id %>
		</b>
	<% end %>
	<br>

<% end %>


<%= link_to 'New Post', new_post_path %>