<h1>Posts Index</h1>

<% if current_user %>
	Logged in as <%= current_user.email %>.
	<%= link_to 'Sign out', destroy_user_session_path, {method: :delete} %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<p>This is where the posts go.</p>

<% @posts.each do |post| %>
	<% @vote = @votes[post.id] %>
	<div class='post' id='post-<%= post.id %>'>

		<%= render 'votes', post: post %>
		
		|
		
		<% if current_user and post.user_id == current_user.id %><b><% end %>
		<%= link_to post.title, post_path(post) %>
		<% if current_user and post.user_id == current_user.id %></b><% end %>
	</div>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>