<h1>Posts Index</h1>

<% if current_user %>
	Logged in as <%= current_user.email %>.
	<%= link_to 'Sign out', destroy_user_session_path, {method: :delete} %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<p>This is where the posts go.</p>

<% @posts.each do |post| %>
	<% @vote = @votes[post.id] %>
	<div class='post' id='post-<%= post.id %>'>
		<div class='votes'><%= post.votes %></div>

		<div class='upvote <%= 'selected' if @vote and @vote.upvote  %>'>
			<%= link_to 'Upvote', upvote_post_path(post), { remote: true, onclick: "change_vote(#{post.id.to_s},'upvote')" } %>
		</div>

		<div class='sidevote <%= 'selected' if @vote.nil?  %>'>
			<%= link_to 'Sidevote', sidevote_post_path(post), { remote: true, onclick: "change_vote(#{post.id.to_s},'sidevote')" }  %>
		</div>
		<div class='downvote <%= 'selected' if @vote and @vote.upvote == false %>'>
			<%= link_to 'Downvote', downvote_post_path(post), { remote: true, onclick: "change_vote(#{post.id.to_s},'downvote')" }  %>
		</div>
		
		|
		
		<% if current_user and post.user_id == current_user.id %><b><% end %>
		<%= link_to post.title, post_path(post) %>
		<% if current_user and post.user_id == current_user.id %></b><% end %>
	</div>
<% end %>
<br>

<%= link_to 'New Post', new_post_path %>