<h1>Posts Index</h1>

<% if current_user %>
	Logged in as <%= current_user.email %>.
	<%= link_to 'Sign out', destroy_user_session_path, {method: :delete} %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
<% end %>
<p>This is where the posts go.</p>

<% @posts.each do |post| %>

	<% if current_user
		@vote = current_user.votes.find_by({post_id: post.id}) 
	end %>

	<%= post.votes %>

	<% if @vote && @vote.upvote %><b><% end %>
		<%= link_to 'Upvote', upvote_post_vote_path(post,@vote) %>
	<% if @vote && @vote.upvote %></b><% end %>

	<%= link_to 'Sidevote', sidevote_post_vote_path(post,@vote) %>

	<% if @vote && !@vote.upvote %><b><% end %>
		<%= link_to 'Downvote', downvote_post_vote_path(post,@vote) %>
	<% if @vote && !@vote.upvote %></b><% end %>
	
	|
	
	<% if current_user && post.user_id == current_user.id %>
		<b>
	<% end %>
	<%= link_to post.title, post_path(post) %>
	<% if current_user && post.user_id == current_user.id %>
		</b>
	<% end %>
	<br>

<% end %>


<%= link_to 'New Post', new_post_path %>