<h1><%= @post.title %></h1>
<p>
	<%= @post.body %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
	<p>
		<%= comment.votes %> |
		<%= comment.body %><br>
		Posted at <%= l comment.created_at, format: :short %><br>
		By <%= comment.user.email %>

		<% if current_user.id == comment.user.id %>
			<%= link_to 'Edit', edit_post_comment_path(@post,comment) %>
			<%= link_to 'Delete', post_comment_path(@post,comment), method: :delete %>
		<% end %>
		<%= link_to 'Reply', { controller: 'comments', action: :new, comment_id: comment.id, post_id: @post.id } %>

	</p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete', post_path(@post), method: :delete %>

<%= link_to 'New Comment', new_post_comment_path(@post) %>
